<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <div class="navBar">
    <div class="inner">
      <div class="left">
        <div class="logo"><img src="../assets/img/symbols-diamond-logo.png"></div>
        <h1 class="textshadow">You Are My Diamond 买钻石</h1>
      </div>
      <div class="links">
        <a href="./index.html">介紹</a>
        <a href="../index.html">首頁</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="textBox">
      <h3 class="textshadow">新手上路</h3>
      <p>买钻石是一款直接在以太坊网络上运行的分散式，无信任 的区块链游戏。和以太猫一样，买钻石是以太坊网络上运 行的分散应用程序（Dapp）。 该游戏完全去中心化，不受任何人控制，无论底池总数额 有多么诱人，只会根据游戏规则进行支付。
      </p>
    </div>
    <div class="textBox">
      <h3 class="textshadow">规则</h3>
      <p>这是一个彩票游戏，玩家在倒计时（24:00：00）结束前 下标最后一颗钻石则赢走彩池！赢走彩池！ 玩家可以任意购买钻石 ，这会重新刷新倒计时的时间 （每颗钻石增加30秒，最多不超过24小时）。 钻石的数量没有上限，玩家每次下标钻石，钻石的价格就
        会上涨。 游戏期间有其他玩家下标钻石时，玩家会从根据老鼠的拥 有比例在游戏中获得分红。这些奖励可以随时提现。
      </p>
    </div>
    <div class="textBox">
      <h3 class="textshadow">如何参与</h3>
      <p>推荐使用chrome，准备好metamask插件， 切换至主网，导入eth的账户
        <br> 确认metamask钱包内有eth
        <br> 进入 you are my diamond 网站， 然后选择您要下订的钻石数量，然后点击确认购买 <br> 会弹出metamask的确认界面， 请调整适宜的gas price，然后Submit 成为钻石大亨
        <br> https://dextop.zendesk.com/hc/zh-cn/articles/ 360004149133-如何切换MetaMask界面及语言版本
      </p>
    </div>
  </div>

  <footer>
    2018 You Are My Diamond All Right Reserved
  </footer>
</body>

</html>