<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <div class="navBar">
    <div class="inner">
      <div class="left">
        <div class="logo"><img src="../assets/img/symbols-diamond-logo.png"></div>
        <h1 class="textshadow">You Are My Diamond 买钻石</h1>
      </div>
      <div class="links">
        <a href="./index.html">介紹</a>
        <a href="../index.html">首頁</a>
      </div>
    </div>
  </div>
  <div class="contentPage">
    <h3 class="textshadow">最后一个下订钻石的将获得</h3>
    <div class="point">
      <img src="../assets/img/symbols.png" />
      <img src="../assets/img/symbols-arrow.png" alt="">
      <div class="num">21509.7346</div>
      <img src="../assets/img/symbols-ethereum-logo.png">
    </div>
    <div class="time textshadow">
      <h4>下订倒数</h4>
      <div>00:00:00</div>
    </div>
    <a href="#">
      1x
      <img src="../assets/img/symbols-ring.png"> 买个钻石讨老婆
    </a>
    <img src="../assets/img/symbols-diamond-.png" class="center">
    <div class="tabSide">
      <div class="leftTab">
        <ul class="tab">
            <li><a href="../view/page1.html">购  买</a></li>
            <li class="active"><a href="../view/page2.html">玩家资讯</a></li>
            <li><a href="../view/page3.html ">合伙人</a></li>
        </ul>
        <div class="tabContent">
          <div class="tabBox">
            <ul class="playerInfo">
              <li>
                <label>游戏获利</label>
                <span>1320916540629790.2</span>
              </li>
              <li>
                <label>游戏获利</label>
                <span>1320916540629790.2</span>
              </li>
              <li>
                <label>游戏获利</label>
                <span>1320916540629790.2</span>
              </li>
              <li>
                <label>游戏获利</label>
                <span>1320916540629790.2</span>
              </li>
            </ul>
            <button class="right">复制</button>
          </div>
        </div>
      </div>
      <div class="rightTab">
        <ul class="tab">
            <li class="active"><a href="../view/page1.html">摘  要</a></li>
            <li><a href="../view/page3.html">统  计</a></li>
        </ul>
        <div class="tabContent">
          <div class="tabBox">
            <ul class="summaryBox">
              <li>
                <label>当前回合数：</label>
                <span>6</span>
              </li>
              <li>
                <label>游戏剩余时间：</label>
                <span>游戏剩余时间：</span>
              </li>
              <li>
                <label>彩池：</label>
                <span>1515000157812.4</span>
              </li>
              <li>
                <label>游戏状态：</label>
                <ul>
                  <li><i>1.</i><span>游戏进行中，时间持续倒数</span></li>
                  <li><i>2.</i><span>前一局已结束，新局开始，等待玩家开局，时间不到数</span></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    2018 You Are My Diamond All Right Reserved
  </footer>
</body>

</html>